

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: 'Roboto', sans-serif;

}


.braga{padding:3px; border:1px solid #000;}



.tuto{ width: 480px; height: 700px; padding: 10px; display:table; background-image:url("../../imagens/cronos.jpg"); background-repeat:no-repeat; background-size:700px 480px; z-index: 9997; overflow: hidden;}

.central{text-align:center;}

.cemp{width:450px; display:table;}

.setent{width:70%;}


button{webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.6;
    border: none;
    padding: 18px 40px 18px 40px;
    color: #ffffff;
    -webkit-transition: none;
    transition: none;    background-color: #337ab7;
    border-color: #2e6da4;}
	.sess{width:60%; height:auto}
	
input[type='password']{padding: 3px; width: 180px; background-color:#fff;}
input[type='password']:hover{padding: 3px; width: 180px; background-color:#F1EFAE;}

input[type='text']{padding: 3px; width: 180px; background-color:#fff;}
input[type='text']:hover{padding: 3px; width: 180px; background-color:#F1EFAE;}
.meio{width: 300px; height: 300px; box-shadow: 3px 3px 3px; #000; position:fixed; top: 50%; left:50%; margin-left:-150px; margin-top:-150px; background-color:#B2CDDC;-webkit-border-radius: 5px; border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }

.dnone{display: none;}

.tp{margin: 0px; display: inline; height: 60px; width: auto; cursor:pointer;}

h1{ font-size: 18px; color: #F76265; text-shadow: 1px 1px #ccc; }

.inl{display: inline-table;}

.cinquent{width: 49%; }

#identif{text-decoration: underline; font-weight: bold; text-transform: uppercase;}

.botao{ -webkit-border-radius: 5px; border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; background-color:#F76265; border: 1px solid #000; width:180px; padding: 4px; font-weight:bold; }
.central{text-align: center;}


.botao:hover{ -webkit-border-radius: 5px; border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; background-color:#EBB0B1; border: 1px solid #000; width:180px; padding: 4px; font-weight:bold; }
.central{text-align: center;}

.ros{font-size: 18px; color: #F76265; text-shadow: 1px 1px #ccc;}

.bend{padding-top: 40px; padding-bottom: 40px;}

#cronometron{padding-top: 40px; padding-bottom: 40px;}

.botaozim{ -webkit-border-radius: 5px; border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; background-color:#375623; border: 1px solid #000; width:50px;; padding: 4px; font-weight:bold; margin: 5px;}



.botaozim:hover{ -webkit-border-radius: 5px; border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; background-color:#82DD84; border: 1px solid #000; width:50px;; padding: 4px; font-weight:bold; }

@-webkit-keyframes fadeIn {

0% { opacity: 0; }
100% { opacity: 1; }

}

@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }

}
@-o-keyframes fadeIn {

0% { opacity: 0; }
100% { opacity: 1; }

}
@keyframes fadeIn {

0% { opacity: 0; }
100% { opacity: 1; }

}

.hidden{display: none;}

.seta_l{position: fixed; top: 45%; height: 5%; min-height: 15px!Important; left: 4%; width: auto; z-index: 9997;}
.seta_r{position: fixed; top: 45%; height: 5%; min-height: 15px!Important; right: 4%; width: auto; z-index: 9997;}
.fadeIn {
-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
background-repeat:no-repeat; background-size: 100% 100%; background-attachment:fixed; background-origin: bottom;
}

.fadeOut{
-o-animation: fadeOut 3s ease-in-out;
-ms-animation: fadeOut 3s ease-in-out;
-webkit-animation: fadeOut 3s ease-in-out;
-moz-animation: fadeOut 3s ease-in-out;
animation: fadeOut 3s ease-in-out;

}

#func_cima{list-style:none;}

.fadeImg {
opacity:0;
-webkit-animation: fadeIn 5s ease-in-out;
-moz-animation: fadeIn 5s ease-in-out;
-o-animation: fadeIn 5s ease-in-out;
animation: fadeIn 5s ease-in-out;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
-o-animation-fill-mode:forwards;
animation-fill-mode:forwards;}

.fadeImg-delay {
-webkit-animation-delay:3s;
-moz-animation-delay:3s;
-o-animation-delay:3s;
animation-delay:3s;}

.fadeImg2 {
opacity:0;
-webkit-animation: fadeIn 500ms linear;
-moz-animation: fadeIn 500ms linear;
-o-animation: fadeIn 500ms linear;
animation: fadeIn 500ms linear;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
-o-animation-fill-mode:forwards;
animation-fill-mode:forwards;}

.fadeImg2-delay {
-webkit-animation-delay:6s;
-moz-animation-delay:6s;
-o-animation-delay:6s;
animation-delay:6s;}




 #alfa {
        position:fixed;
        left:0px;
        top:0px;

        width:100%;
        height:100%;
        z-index:9998;
        opacity:.6;
        background-color: #000000;
   
    }


#aviso{
width: 300px;
border: 2px solid #fff;
border-radius: 9px;
background-color:#9E7677;
background-size: 100% 100%;
color: #000000;
padding: 10px;
position:absolute;
top: 50%;
left: 50%;
height:120px;
margin-left: -150px;
margin-top: -60px;
	opacity:10;
z-index: 9999; /* número máximo é 9999 */

}



#avisod{
width: 300px;
border: 2px solid #fff;
border-radius: 9px;
background-color:#9E7677;
background-size: 100% 100%;
color: #000000;
padding: 10px;
position:absolute;
top: 50%;
left: 50%;
height:120px;
margin-left: -150px;
margin-top: -60px;
    opacity:10;
z-index: 9999; /* número máximo é 9999 */

}